.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}
.Foto {
  float: left;
  width: 50%;
  height: 800px;
}

.Foto img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 100px;
}

.Deskripsi .Info {
  line-height: 1.65;
  color: #202020;
}

.Deskripsi .Price {
  font-size: 18px;
  font-weight: 500;
  color: #111111;
}

.Deskripsi .Title {
  margin: 0;
  color: #111111;
}

.Deskripsi .Cate {
  color: #588aed;
  font-weight: 500;
}

.Deskripsi a {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 500;
  background: rgb(23, 23, 23);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.3s;
}

.Deskripsi a:hover {
  color: #ffffff;
  background: rgb(246, 151, 151);
  transition: all 0.3s;
}

.Review-box {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.Review-box h2 {
  margin-top: 30px;
}

.Review-box img {
  width: 64px;
  height: 64px;
  background: #b1b1b1;
  border-radius: 48px;
  float: left;
  margin-right: 16px;
}

.Review-box .User p,
h3 {
  margin: 0;
}

.Review-box .User h3 {
  padding-top: 10px;
  margin-bottom: 1px;
}

.Review-box .Item {
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}
